@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

@import url('./globalReset.css');
@import url('./queries.css');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  height: 100vh;

  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.mainCtr {
  padding: 1.6rem;
  max-width: 80rem;
  margin: auto;

  background-color: #f0f0f0;
}

.pageTitle {
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: 3.6rem;
  font-weight: 700;
  color: #087f5b;
  text-align: center;
}

/* FormComponent */

form {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  box-shadow: 0 0 1.6rem 0.5rem #00000026;
  padding: 1.6rem;
  border-radius: 8px;
}

.legend {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 700;
  color: #ab784e;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
  color: #444;
  display: flex;
  align-items: baseline;
  gap: 0.2rem;
}

label::before {
  content: ' * ';
  font-size: 1.4rem;
  font-weight: 700;
  color: tomato;
}

input,
textarea {
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 0.8rem;
  color: #084e39;
  font-size: 1.6rem;
  outline-color: #ab784e;
  transition: all 0.3s;
}

input.invalid,
textarea.invalid {
  border-color: tomato;
}

.errorMsg {
  max-height: 0;
  overflow: hidden;
  color: tomato;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s;
}

input.invalid + .errorMsg,
textarea.invalid + .errorMsg {
  max-height: 3.6rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

button {
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 4px;
  align-self: end;
  color: #fefefe;
}

button[type='submit'] {
  background-color: #087f5b;
}

.btn--edit {
  background-color: #ad2800;
}

/* SummaryComponent */

.summary {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

table {
  border-collapse: collapse;
  font-size: 1.6rem;
}

.categoryRow {
  font-weight: 600;
  font-size: 1.6rem;
}

.categoryRow td {
  color: #ab784e;
  text-align: center;
}

td,
th {
  border-collapse: collapse;
  border: 1px solid #888;
  padding: 0.4rem 1.2rem;
}

th {
  background-color: #e1e1e1;
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  overflow-wrap: break-word;
}

td {
  color: #084e39;
  overflow-wrap: anywhere;
}
