@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

@import url('./globalReset.css');
@import url('./shared.css');
@import url('./queries.css');

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.mainCtr {
  min-height: 100vh;
}

.mainContentCtr {
  flex-grow: 1;
  margin: auto;
  padding: 1.6rem 5%;
  width: min(100%, 84rem);
  border-radius: 8px;
  background-color: #f0f0f0;
}

.pageTitle {
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: 3.6rem;
  font-weight: 700;
  color: #087f5b;
  text-align: center;
}
